/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
smee-*.tar
/tmp/
/*.xml*
/*.pem
/*.cer
/test.exs
/dev2.xsl
/dev.xsl
/x3.zip
/x3.json
/*.json
/md.md
/tmp2
/tmp2.txt
/out2
/markdown_aggregate.md
/out*/
/published
/example_scripts/output
